.add-connection-search-input {
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: left;
	width: 100%;
	font-size: 12px;
	height: 37px;
	margin-bottom: 5px;
}

.add-connection-search-input:focus-visible {
	outline: 0;
}

.add-connection-user {
	display: flex;
	align-items: center;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.add-connection-user-dark {
	color: white;
}

.add-connection-user:hover {
	background: var(--primary-color);
}

.add-connection-user-dark:hover {
	color: black;
}

.add-connection-user-username {
	flex-grow: 1;
	text-align: left;
}

.add-connection-user button,
.add-connection-user a {
	width: 90px;
	font-size: 12px;
	margin: 0 2px;
}

.add-connection-requests-header {
	font-family: monospace;
	text-align: left;
	margin: 0;
}
