.connection {
	display: flex;
	align-items: center;
	font-size: 22px;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.connection:hover {
	background: var(--primary-color);
}

.connection-online {
	color: green;
	font-size: 13px;
	margin-left: 3px;
}

.connection-title {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
}

.connection-title-bold {
	font-weight: bold;
}

.connection-user {
	font-size: 18px;
}

.connection-last-message {
	text-align: left;
	font-size: 15px;
	max-width: 316px;
	max-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
