.welcome {
	margin-top: 40%;
}

.welcome p {
	font-family: "Miriam Libre";
}

.welcome-btns {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: auto;
}

.chat-header {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	min-height: 83px;
}
