.inbox {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.inbox-messages {
	flex-grow: 1;
	max-height: 525px;
	overflow-y: scroll;
}

.inbox-messages::-webkit-scrollbar {
	display: none;
}

.inbox-input-container {
	display: flex;
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #ddd;
}

.inbox-input {
	font-family: "Miriam Libre", serif;
	font-size: 12px;
	resize: none;
	flex-grow: 1;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-right: 10px;
	text-align: left;
	max-height: 45px;
}

.inbox-input:focus-visible {
	outline: 0;
}

.inbox-send-button {
	background-color: var(--primary-color);
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.inbox-messages-date {
	margin: 0;
	font-size: 10px;
	font-family: monospace;
	font-weight: bolder;
}
