@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap");

* {
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}

:root {
	--bg-color: #2d2d2d;
	--primary-color: #ebeb95;
	--dark-mode: #121212;
}

.App {
	height: 100vh;
	position: relative;
	background: var(--bg-color);
}

main {
	background: var(--primary-color);
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 9%;
	width: 400px;
	height: 856px;
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	font-family: Arial, sans-serif;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
	flex-grow: 1;
	background: white;
	padding: 5px;
}

.main-content-dark {
	background-color: var(--dark-mode);
	color: white;
}

.welcome {
	margin-top: 40%;
}

.welcome p {
	font-family: "Miriam Libre";
}

.welcome-btns {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: auto;
}
