.message-container {
	margin-bottom: 8px;
}

.chat-message {
	font-family: "Miriam Libre", serif;
	font-size: 14px;
	text-align: left;
	max-width: 70%;
	padding: 10px;
	margin-bottom: 0;
	border-radius: 10px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.chat-message-dark {
	color: black;
}

.chat-message-sent {
	background-color: var(--primary-color);
	align-self: flex-end;
	margin-left: auto;
}

.chat-message-received {
	background-color: #e9ecef;
	color: black;
	align-self: flex-start;
	margin-right: auto;
}

.chat-timestamp {
	font-size: 11px;
	margin: 0;
}

.chat-timestamp-sent {
	text-align: right;
}

.chat-timestamp-received {
	text-align: left;
}

.read-message-timestamp {
	font-weight: bolder;
	text-align: right;
	font-size: 11px;
	margin: 0;
	margin-right: -42px;
	transition: margin-right ease-in 0.1s;
}

.read-message-timestamp:hover {
	margin-right: 0;
}
