.chat-message {
	text-align: left;
	max-width: 70%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	word-wrap: break-word;
}

.chat-message-sent {
	background-color: var(--primary-color);
	align-self: flex-end;
	margin-left: auto;
}

.chat-message-received {
	background-color: #e9ecef;
	color: black;
	align-self: flex-start;
	margin-right: auto;
}

.chat-timestamp {
	font-size: 11px;
	margin: 0;
}

.chat-timestamp-sent {
	text-align: right;
	font-size: 11px;
	margin: 0;
}

.chat-timestamp-received {
	text-align: left;
}
