.notifications {
	position: absolute;
	height: 63px;
	width: 400px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	top: 0;
	overflow-y: hidden;
}

.notification {
	display: block;
	color: white;
	cursor: pointer;
	font-size: 14px;
	margin: 0;
	text-align: left;
	padding-left: 6px;
	opacity: 1;
	transition: opacity 3s ease-out, transform 3s ease-out;
}

.notification:hover {
	background-color: var(--primary-color);
	color: black;
}

.notification.fade-out {
	animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	80% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-20%);
	}
}
