.notification {
	position: absolute;
	width: 200px;
	background: var(--bg-color);
	left: 0;
	color: white;
	padding: 6px 2px;
	border-radius: 5px;
	box-shadow: 2px 3px 5px 0px var(--primary-color);
	top: 62px;
	transition: left 0.3s;
}

.notification-content {
	font-size: 14px;
	margin: 0;
	text-align: left;
	padding-left: 6px;
}

.notification-closed {
	left: -200px;
}
